.font(@ff: @regular-fontFamily, @fsize: 18px, @fcolor: #fff){
	font-family: @ff;
	font-size: @fsize;
	color: @fcolor; 
}

.inline-block(@va: top){
	display: inline-block;
	vertical-align: middle;
}

.iconBack(@iconName){
	background: url(~"@{pathToIcon}icon@{iconName}.png") no-repeat center; 
}